.card {
    border: none;
    border-radius: 8px;
    background: url('../img/dardo.png');
}

.F-Card {
    max-width: 520px;
    max-height: 140px;
}

.F-Card-Info h1 {
    font-size: 23px;
    color: white;
}

.F-Card-Info p {
    font-size: 11px;
    color: white;
}